.orderHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5%;
}

.userName {
    text-transform: capitalize;
}

.imageAvatar {
    border-radius: 10px;
}

.btnLogin {
    align-items: center;
    background-color: #5538A2;
    border-radius: 40px;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-weight: 200;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: .7s;
    width: 50%;
}

.btnLogin:hover {
    background-color: #FFF;
    border: 2px solid #5538A2;
    color: #000;
    transition: .7s;

}

.numberOfProducts {
    background-color: #FED748;
    border-radius: 10px;
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
}