.container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 65% 33%;
    grid-template-rows: 5% 95%;
    margin: 0 5% 0 5%;
}

.content {
    display: grid;
    grid-gap: 3%;
    grid-area: 2 / 1 / 2 / 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
}

.myOrder {    
    background-color: #FDFDFB;
    display: grid;
    grid-area: 1 / 2 / span 2 / span 2;
    grid-gap: 3%;
    grid-template-rows: repeat(6, min-content);
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content);
    align-items: start;
    grid-gap: 5%;
}

.cardProduct {
    box-shadow:  
        5px 5px 17px #e7e7e8,
        -5px -5px 17px #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.imageCard {
    border-radius: 10px;
}

.imageBox {
    display: inline-block;
    position: relative;
    align-self: center;
}

.durations {
    background-color: #F9F8F9;
    border-radius: 0px 10px 0px 10px;
    padding: 10px;
    position: absolute;
    top: 127px;
}

.score {
    align-items: center;
    color: #C8C8C8;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.star {
    align-items: center;
    background-color: #FEFEFF;
    border: none;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
}

.star svg{
    margin-right: 10px;
}

.btnCart {
    background-color: #13b868;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .7s;
    width: 100%;
}

.btnCart:hover {
    opacity: .8;
    transition: .7s;
}

.titleMyOrder {
    margin: 0 10% 0 15%;
}

.cart {
    margin-right: 5%;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
}

.imageCart {
    border-radius: 10px;
}

.countCart {
    width: 10%
}

.product h5{
    width: 30%;
}

.totalBuy {
    margin: 0 10% 0 10%;
}

.totalCart {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 10%;
}

.persons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.persons h3 {
    margin: 0;
}

.count {
    align-items: center;
    background-color: #C8C8C8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.count h3 {
    margin: 0px 10px 0px 10px;
}

.countButton {
    align-items: center;
    background-color: #C8C8C8;
    border-radius: 10px;
    border: 1px solid transparent;
    display: flex;
    font-size: 20px;
    height: 10%;
    padding: 10px;
}

.checkout {
    align-items: center;
    background-color: #FED748;
    border-radius: 10px 0px 0px 10px;
    border: none;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 60%;
}

.checkout svg {
    margin-left: 10px;
}

@media (min-width: 1024px) {
    .durations {
        top: 128px;
    }
}

@media (max-width: 1024px) {
    .container {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 25% 70%;
    }
    
    .content {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-area: 3 / 1 / 3 / 1;
        grid-template-rows: repeat(4, max-content);
    }

    .publisher {
        justify-content: flex-start;
    }

    .durations {
        top: 114px;
    }

    .myOrder {
        grid-gap: 2%;
        grid-area: 2 / 1 / 2 / 1;
        grid-template-rows: repeat(6, max-content);
    }
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }

    .durations {
        top: 85px;
    }
}

@media (max-width: 426px) {
    .products {
        grid-gap: 2%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .durations {
        top: 70px;
    }
}

